extends layout
block content

    div
        center
          h1(style="font-size: 70px") Check Out
          h3 Flight Information
          div(style = "padding-top:2vw;")
            center
              div.airportCard
                div(style = "padding:2vw 3vw 2vw 3vw;")
                  h3 From
                  p whatever the airport
                  div(id = "fromMap" style = "width:20vw;")
                  script(src="/javascripts/maps.js")

              image(src="/img/flightcircle.png").centered.shadow.flightCircle

              div.airportCard
                div(style = "padding:2vw 3vw 2vw 3vw;")
                  h3 To
                  p WHatever The airport
                  div(id = "toMap" style = "width:20vw;")
                  script(src="/javascripts/maps.js")
