extends layout
block content
    div
        center
          div
            h1(style="font-size: 70px") Check Out
            div.bluBox
              h3 Flight Information
              div(style = "padding-top:2vw;")
                center
                  div(style="border-radius: 15px 0px 0px 15px;").airportCard
                    div(style = "padding:2vw 3vw 2vw 3vw;")
                      h3 From
                      p whatever the airport
                      div(id = "fromMap" style = "width:20vw;")
                      script(src="/javascripts/maps.js")

                  image(src="/img/flightcircle.png").centered.shadow.flightCircle

                  div(style="border-radius: 0px 15px 15px 0px;").airportCard
                    div(style = "padding:2vw 3vw 2vw 3vw; border-radius: 0px 15px 15px 0px;")
                      h3 To
                      p WHatever The airport
                      div(id = "toMap" style = "width:20vw;")
                      script(src="/javascripts/maps.js")
            div.bluBox
              div
                h3(style=" display:inline-block; background-color:white; padding:1%;  margin-bottom:2%; border-radius:15px;").shadow Currency Converter
              div(style ="background-color:white; border-radius:15px;").shadow
                  script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
                  script(type="text/javascript" src="javascripts/jquery.autocomplete.min.js")
                  script(src="/javascripts/auto.js")
                  form(id="Currency")
                    input(type="number" name="To" id="localCurrency")
                    button( type="button" onclick="return convert();" style = "height:3vw;").destButton Convert
                    input(type="number" name="From" id="destCurrency")
