extends layout
block content
    div
        center
          div
            h1(style="font-size: 70px") Checkout

            div.bluBox.shadow
              h3.blutytles.shadow Flight Information
              div(style = "padding-top:2vw;")
                center
                  div(style="border-radius: 15px 0px 0px 15px;").airportCard.shadow
                    div(style = "padding:2vw 3vw 2vw 3vw;")
                      h3 From
                      h2= user.airport
                      div(id = "fromMap" style = "width:35vw;")
                      script(src="/javascripts/maps.js")

                  image(src="/img/flightcircle.png").centered.shadow.flightCircle

                  div(style="border-radius: 0px 15px 15px 0px;").airportCard.shadow
                    div(style = "padding:2vw 3vw 2vw 3vw; border-radius: 0px 15px 15px 0px;")
                      h3 To
                      h2= dest.airport
                      div(id = "toMap" style = "width:35vw;")
                      script(src="/javascripts/maps.js")

            div.bluBox.shadow
              div
                  h3.blutytles.shadow Currency Converter
              div.blucont.shadow
                  script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
                  script(type="text/javascript" src="javascripts/jquery.autocomplete.min.js")
                  script(src="/javascripts/auto.js")
                  form(id="Currency")
                    input(type="number" name="To" id="localCurrency").inputstyled
                    button( type="button" onclick="return convert();" style = "height:3vw;").destButton Convert
                    input(type="number" name="From" id="destCurrency").inputstyled

            center
              div.views.bluBox.shadow
                      h3.blutytles.shadow Lodging
                      div(style = " display:inline-block;").bluBox.shadow
                        div( style="margin-top: 2%; width: 400px; padding:1%; margin: auto;  display:block; border-radius: 5px; background-color:white; align-self:center;")
                          img(src="/img/boston.jpg" width="75%" style="  align-self: center; margin-left:30px; margin-right:30px; margin-top:30px;")
                          h3
                          form(action="destinations/"+id)
                              button.destButton(type="submit") Hilton INN
                            p jaun
                      div(style = " display:inline-block;").bluBox.shadow
                        div( style="margin-top: 2%; width: 400px; padding:1%; margin: auto;  display:block; border-radius: 5px; background-color:white; align-self:center;")
                          img(src="/img/boston.jpg" width="75%" style="  align-self: center; margin-left:30px; margin-right:30px; margin-top:30px;")
                          h3
                          form(action="destinations/"+id)
                              button.destButton(type="submit") Hilton INN
                            p jaun
                      div(style = " display:inline-block;").bluBox.shadow
                        div( style="margin-top: 2%; width: 400px; padding:1%; margin: auto;  display:block; border-radius: 5px; background-color:white; align-self:center;")
                          img(src="/img/boston.jpg" width="75%" style="  align-self: center; margin-left:30px; margin-right:30px; margin-top:30px;")
                          h3
                          form(action="destinations/"+id)
                              button.destButton(type="submit") Hilton INN
                            p jaun
                      div(style = " display:inline-block;").bluBox.shadow
                        div( style="margin-top: 2%; width: 400px; padding:1%; margin: auto;  display:block; border-radius: 5px; background-color:white; align-self:center;")
                          img(src="/img/boston.jpg" width="75%" style="  align-self: center; margin-left:30px; margin-right:30px; margin-top:30px;")
                          h3
                          form(action="destinations/"+id)
                              button.destButton(type="submit") Hilton INN
                            p jaun
                      div(style = " display:inline-block;").bluBox.shadow
                        div( style="margin-top: 2%; width: 400px; padding:1%; margin: auto;  display:block; border-radius: 5px; background-color:white; align-self:center;")
                          img(src="/img/boston.jpg" width="75%" style="  align-self: center; margin-left:30px; margin-right:30px; margin-top:30px;")
                          h3
                          form(action="destinations/"+id)
                              button.destButton(type="submit") Hilton INN
                            p jaun
                      div(style = " display:inline-block;").bluBox.shadow
                        div( style="margin-top: 2%; width: 400px; padding:1%; margin: auto;  display:block; border-radius: 5px; background-color:white; align-self:center;")
                          img(src="/img/boston.jpg" width="75%" style="  align-self: center; margin-left:30px; margin-right:30px; margin-top:30px;")
                          h3
                          form(action="destinations/"+id)
                              button.destButton(type="submit") Hilton INN
                            p jaun

            div.bluBox.shadow
              h3.blutytles.shadow Final Details
              div(style = "padding-top:2vw;").row
                  div.col-md-6
                      h2 Depart
                      h3=user.airport
                  div.col-md-6
                button(type="confirm").btn.btn-lg.btn-primary Book yo flight
