extends layout
block content

    div.container.well
        center
          h1(style="font-size: 70px") Check Out
          h3 Flight Information
          div
            div(style = "background-color:white; border: 2px solid white; border-radius: 20px 0px 0px 20px; display: inline-block; ")
              div(style = "padding:2vw 5vw 2vw 5vw;")
                h3 From
                p whatever the airport
                div(id = "fromMap" style = "width:20vw;")
                script(src="/javascripts/maps.js")

            image(src="/img/flightcircle.png" style = "height:8vw; width:8vw; align-self:center; vertical-align:middle; margin-bottom:20vw;").centered.shadow.flightCircle

            div(style = "background-color:white; border: 2px solid white; border-radius: 0px 20px 20px 0px; display:inline-block; ")
              div(style = "padding:2vw 5vw 2vw 5vw;")
                h3 To
                p WHatever The airport
                div(id = "toMap" style = "width:20vw;")
                script(src="/javascripts/maps.js")
