extends layout
block content
    div.container.well(style='background: url("/img/' + dest.image + '");' + 'background-size: cover;')
        h1= dest.title
        if user
            a(href='/checkout/'+dest.id).btn.btn-primary Check Out
        else
            a(href='/checkout/'+dest.id).btn.btn-primary.disabled Check Out
