extends layout
block content
    script(src="/javascripts/loginfadr.js")
    div.container.well(style='background: url("/img/' + dest.image + '");' + 'background-size: cover;')
        h1= dest.title
        if user
            form(action='/checkout/'+dest.id,method="POST")
                input(type='text',name='daterange',style="margin-right:10px;")
                button(type='submit').destButton Check Out
        else
            form(action='/checkout/'+dest.id,method="POST")
                input(type='text',name='daterange',style="margin-right:10px;")
                button(type="button" onclick = "fadetologin(true)").destButton Check Out
        p= dest.descrip
