mixin thumbnail(id, imageName, name , caption)
  div.bluBox.shadow.destbox.line
    div.hotelNested
      img(src="img/#{imageName}").destIMG
      h3
      form(action="destinations/"+id)
          button.destButton(type="submit")= name
      -if (caption)
        p= caption



extends layout
block content

  center
    h1 Choose Your View
    input(id = "search" type="text" name="search" placeholder="Search...").search
    script(type="text/javascript" src="javascripts/search.js")
    div.views
      for dest in dests
        +thumbnail(dest.id, dest.image , dest.title , dest.description)
