extends layout
block content
    div
        center
          div
            h1(style="font-size: 70px") Check Out

            div.bluBox.shadow
              div
                h3(style=" display:inline-block; background-color:white; padding:1%;  margin-bottom:2%; border-radius:15px;").shadow Flights
              div(style ="background-color:white; border-radius:15px;").shadow
                div(style ="background-color:white; padding:1vw;").blucont
                  table
                      tr
                        th Firstname
                        th Lastname
                        th Savings
                      tr
                        td Peter
                        td Griffin
                        td $100
                      tr
                        td Lois
                        td Griffin
                        td $150
                      tr
                        td Joe
                        td Swanson
                        td $300
                      tr
                        td Cleveland
                        td Brown
                        td $250
