mixin thumbnail(imageName, caption , secondcaption)
  div( style = " margin-top : 5%; width : 30%;  margin-left: 2%; margin-right 2%; display: inline-block; border-radius: 5px; background-color:white; box-shadow: 2px 2px 1px #C8C8C8 ;" href= "/#{caption}")
    img(src="img/#{imageName}" height="300px" style="position: relative; margin-top:10px;")
    h3= caption
    -if (secondcaption)
      p= secondcaption



extends layout
block content
  center
    h1 Choose Your View
    div.views
      for name in dests
        +thumbnail( name.image , name.title , name.description)
