
mixin thumbnail(id, imageName, name , caption)
    div(style = " display:inline-block;").bluBox.shadow
      div( style="margin-top: 2%; width: 400px; padding:1%; margin: auto;  display:block; border-radius: 5px; background-color:white; align-self:center;")
        img(src="img/#{imageName}" width="75%" style="  align-self: center; margin-left:30px; margin-right:30px; margin-top:30px;")
        h3
        form(action="destinations/"+id)
            button.destButton(type="submit")= name
        -if (caption)
          p= caption


extends layout
block content


    div
        center
          div
            h1(style="font-size: 70px") Check Out

            div.bluBox.shadow
              div
                h3(style=" display:inline-block; background-color:white; padding:1%;  margin-bottom:2%; border-radius:15px;").shadow Flights
              div(style ="background-color:white; border-radius:15px;").shadow
                div(style ="background-color:white; padding:1vw;").blucont
                  div
                    input(type="text" name="search" placeholder="Search..").serch.inputstyled.line
                    form(action='action_page.php').inputstyled.line
                      select(name='Organize')
                        option(value='low to high') Low to High
                        option(value='hight to low') High to Low
                        option(value='fiat') Fiat
                        option(value='audi') Audi
                  table
                      tr
                        th Flight
                        th Time
                        th Price
                      tr
                        td Peter
                        td Griffin
                        td $100
                      tr
                        td Lois
                        td Griffin
                        td $150
                      tr
                        td Joe
                        td Swanson
                        td $300
                      tr
                        td Cleveland
                        td Brown
                        td $250

          center
            h3.blutytles.shadow.line Lodging
            div.views
              for dest in dests
                +thumbnail(dest.id, dest.image , dest.title , dest.description)
