mixin thumbnail(id, imageName, name , caption)
  div(style = " display:inline-block;").bluBox.shadow
    div( style="margin-top: 2%; width: 400px; padding:1%; margin: auto;  display:block; border-radius: 5px; background-color:white; align-self:center;")
      img(src="img/#{imageName}" width="75%" style="  align-self: center; margin-left:30px; margin-right:30px; margin-top:30px;")
      h3
      form(action="destinations/"+id)
          button.destButton(type="submit")= name
      -if (caption)
        p= caption



extends layout
block content
  center
    h1(style="font-size: 70px") Choose Your View
    input(type="text" name="search" placeholder="Search..").serch.inputstyled.line
    div.views
      for dest in dests
        +thumbnail(dest.id, dest.image , dest.title , dest.description)
