nav.navbar.navbar-default
    div.container-fluid
        div.navbar-header
            a(href='/').navbar-brand Smashing Places
        div.collapse.navbar-collapse
            if navItems
                ul.nav.navbar-nav
                    each item in navItems
                        - var isActive = (item.section == section ? 'active' : '')
                        li(class=isActive)
                            a(href='#{item.link}') #{item.title}

                ul.nav.navbar-nav.navbar-right
                    li
                        if user
                            li.dropdown
                                a(href='#',data-toggle="dropdown",aria-haspopup="true",aria-expanded="false") #{user.id}
                                    span.caret
                                ul.dropdown-menu
                                    li
                                        a(href='/settings') Settings
                                        a(href='/auth/logout') Logout
                        else
                            li
                                button(onclick="fadetologin(true)").destButton Login

div(onclick = "fadetologin(false)").fullscreen.login.text-center
    div(style="display:inline-block; position: relative;  top: 50%; transform: translateY(-50%);").panel.panel-primary
        div(class="panel-heading")
            h3(class="panel-title") Login/Register
        div(class="panel-body")
          div.loginform
              form(class="form-horizontal",action="/auth/login",method="post")
                  div(class="form-group")
                      label(class="col-md-4 control-label") Username
                      div(class="col-md-8")
                          input(type='text',name='username')
                  div(class="form-group")
                      label(class="col-md-4 control-label") Password
                      div(class="col-sm-8")
                          input(type='password',name='password')
                  div(class="form-group")
                      div(class="col-md-offset-4 col-md-8")
                          input(class="btn btn-default",type='submit',value='Log in')
                a(onclick="register(true)") Register
            div.register
              form(class="form-horizontal",action="/auth/register",method="post")
                  div.form-group
                      label.col-md-4.control-label Username
                      div.col-md-8
                          input(type='text',name='username')
                  div.form-group
                      label.col-md-4.control-label Password
                          i.glyphicon.glyphicon-question-sign(title=
                          "You must have 6+ characters, 1 uppercase letter, and 1 number")
                      div.col-md-8
                          input(type='password',name='password')
                  div.form-group
                      label.col-md-6.control-label Airport Code
                          i.glyphicon.glyphicon-question-sign(title=
                          "Use a 3-letter IATA code (e.g. JFK)")
                      input(type='text',name='airport').col-md-6
                  div.form-group
                      div.col-md-offset-4.col-md-8
                          input(class="btn btn-default",type='submit',value='Register')
                a(onclick="register(false)") Back To Logon
