nav(class='navbar navbar-default')
    div(class='container-fluid')
        div(class='navbar-header')
            a(class='navbar-brand',href='#') Travel Memes
        div(class='collapse navbar-collapse')
            if navItems
                ul(class='nav navbar-nav')
                    each item in navItems
                        - var isActive = (item.section == section ? 'active' : '')
                        li(class=isActive)
                            a(href='#{item.link}') #{item.title}

                ul(class="nav navbar-nav navbar-right")
                    li
                        if user
                            button(href='/auth/logout' type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.") Logout
                        else
                            button(href='#' type="button" class="btn btn-secondary" data-toggle="popover" data-placement="auto" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.") Login
