extends layout

block content
  div
    center
        div
            div
                h1 Your Vacation is Only a Fiew Memes Away
                p(style = "padding-top:10px;") To get started head over to the destination tab
                img.Vacation(width = "70%" style = "padding-top:10px;" src = "vacation13.jpg")
