extends layout

block content
  center
      h1 Your Vacation is Only a Fiew Memes Away
      p(style = "padding-top:10px;") To get started head over to the destination tab
      img.Vacation(width = "" style = "padding-top:10px;" src = "vacation13.jpg")
