doctype html
html
  head
    title Travel Memes
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet',
        href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')

  body(style = "background-color: #F8F8F8  ;")
    include header
    block content
    include footer
