link(rel='stylesheet', href='/stylesheets/style.css')
extends layout
block content
    div.bluBox.line.col-md-4.col-md-offset-4
        center
            div.blucont
                h1 Thank You
                h3 We appreciate your service
                p You will receive an email shortly with the details of your order
                a(href = "/") Go Back To Home
